body{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
    font-size: 20px;
}

h1{
    font-family:sans-serif ;

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
    font-size: 2rem;
    letter-spacing: 1.2rem;
    text-shadow: 1px 1px 2px gray;
    border-bottom:solid 3px rgb(115, 115, 114);
    
}



.mcharactor, .aomidashi{
    color: #a0d8ef;
}
.ycharactor, .pinkmidashi{
    color:rgb(255,192,203);
}



#child p{
  font-weight: bold;        

}


